<%- include("admin-navbar") %>   
    <main>
    
      <div class="album py-5 bg-light">
        <h2>Users</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col"># User Id</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Role</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
    
                <% for (var i=0; i< adminUsers.length; i++) { %>
                  <tr>
                    <td><%= adminUsers[i]._id %></td>
                    <td><%= adminUsers[i].firstname %></td>
                    <td><%= adminUsers[i].lastname %></td>
                    <td><%= adminUsers[i].email %></td>
                    <td><%= adminUsers[i].role %></td>
                    <td>
                      <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Delete
                      </button>
                    </td>
    
                  </tr>
                <% } %>
    
                <% for (var i=0; i< productOwners.length; i++) { %>
                  <tr>
                    <td><%= productOwners[i]._id %></td>
                    <td><%= productOwners[i].firstname %></td>
                    <td><%= productOwners[i].lastname %></td>
                    <td><%= productOwners[i].email %></td>
                    <td>Product Owner</td>
                    <td>
                      <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                        Delete
                      </button>
                    </td>
                  </tr>
                <% } %>
                
              </tbody>
            </table>
          </div>
        </div>
    
    
    </main>
    
    
    
    
    
<%- include("admin-footer") %>   


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the User?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, Cancel</button>
        <a href="/admin/delete-admin-user/<%= adminUsers[i]._id %>" class="btn btn-danger">Yes, Delete</a>
      </div>
    </div>
  </div>
</div>

