<%- include("navbar") %>

<main>
	<div class="album py-5 bg-light">
		<div class="container">
		  <h2 class="pb-2 border-bottom" style="color:#79A00A ;">Pending Projects to Review (Reviewer) </h2><br>
		  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
	
			<% for(var i=0; i< projects.length; i++) { %>
			  <div class="col">
				<div class="card shadow-sm">
				  <img src="/images/final_stage_pics/<%= projects[i].finalImages[0] %>" style="height: 250px;" alt="">
	  
				  <div class="card-body">
					<p class="card-text text-truncate"><%= projects[i].description %></p>
					<div class="d-flex justify-content-between align-items-center">
					  <div class="btn-group">
						<a type="button" href="/reviewer/view-project/<%= projects[i]._id %>" class="btn btn-sm btn-outline-secondary">View</a>
						<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
					  </div>
					  <small class="text-muted">9 mins</small>
					</div>
				  </div>
				</div>
			  </div>
			<% } %>
	
	  
			  
	 
	
		  </div>
		</div>

</main>

<%- include("footer") %>
		
	
