<%- include("navbar") %>

<br /><br />
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <% for (var i=0; i < project.initalImages.length; i++) { %>
      <figure class="figure">
        <img
          src="/images/initial_stage_pics/<%= project.initalImages[i] %>"
          class="figure-img img-fluid rounded"
          alt="A generic square placeholder image with rounded corners in a figure."
        />
        <figcaption class="figure-caption">
          <%=project.title%>.
        </figcaption>
      </figure>
      <% } %> <br />
      

      <h3>PROJECT DECRIPTION</h3>
      <p><%=project.description%></p>

      <h3>IMPACT OF PROJECT</h3>
      <p><%=project.impact%></p>

      <br /><br />
      <div class="container">
        <% for (var i=0; i < project.finalImages.length; i++) {%>
        <figure class="figure">
          <img
            src="/images/final_stage_pics/<%= project.finalImages[i] %>"
            class="figure-img img-fluid rounded"
            alt="A generic square placeholder image with rounded corners in a figure."
          />
          <figcaption class="figure-caption">
            <%= project.title%>.
          </figcaption>
        </figure>
        <% } %>
      </div>
    </div>

    <div class="col-md-5">
      <hr />
      <div class="container">
        <div class="row">
          <h1 class="text-center text-uppercase"><%= project.title%></h1>
        </div>
        <hr />
        <br />
        <div class="container">
          <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Target Amount</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  $<%= project.amountAsked%> <small class="text-muted"></small>
                </h1>
               
                <button
                  type="button"
                  class="btn btn-lg btn-block btn-outline-primary"
                >
                  <a href="/donate" class="nav-link">Donate</a>
                </button>

                <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#enroll"> Donate </button>

                <ul class="list-unstyled mt-3 mb-4">
                  <li>
                    <div class="progress">
                      <div
                        class="progress-bar bg-success"
                        role="progressbar"
                        style="width: 25%;"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <%= project.percentage%>%
                  </li>
                  <li>Amount donated</li>
                  <li>Location:<%=project.location%></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <section class="gradient-custom">
          <div class="container my-5 py-5">
            <div class="row d-flex justify-content-center">
              <div class="col-md-12 col-lg-10 col-xl-8">
                <div class="card">
                  <div class="card-body p-4">
                    <h4 class="text-center mb-4 pb-2">
                      Nested comments section
                    </h4>

                    <div class="row">
                      <div class="col">
                        <div class="d-flex flex-start">
                          <img
                            class="rounded-circle shadow-1-strong me-3"
                            src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg"
                            alt="avatar"
                            width="65"
                            height="65"
                          />
                          <div class="flex-grow-1 flex-shrink-1">
                            <div>
                              <div
                                class="d-flex justify-content-between align-items-center"
                              >
                                <p class="mb-1">
                                  Maria Smantha
                                  <span class="small">- 2 hours ago</span>
                                </p>
                                <a href="#!"
                                  ><i class="fas fa-reply fa-xs"></i
                                  ><span class="small"> reply</span></a
                                >
                              </div>
                              <p class="small mb-0">
                                It is a long established fact that a reader will
                                be distracted by the readable content of a page.
                              </p>
                            </div>

                            <div class="d-flex flex-start mt-4">
                              <a class="me-3" href="#">
                                <img
                                  class="rounded-circle shadow-1-strong"
                                  src="https://mdbootstrap.com/img/Photos/Avatars/img%20(11).jpg"
                                  alt="avatar"
                                  width="65"
                                  height="65"
                                />
                              </a>
                              <div class="flex-grow-1 flex-shrink-1">
                                <div>
                                  <div
                                    class="d-flex justify-content-between align-items-center"
                                  >
                                    <p class="mb-1">
                                      Simona Disa
                                      <span class="small">- 3 hours ago</span>
                                    </p>
                                  </div>
                                  <p class="small mb-0">
                                    letters, as opposed to using 'Content here,
                                    content here', making it look like readable
                                    English.
                                  </p>
                                </div>
                              </div>
                            </div>

                            <div class="d-flex flex-start mt-4">
                              <a class="me-3" href="#">
                                <img
                                  class="rounded-circle shadow-1-strong"
                                  src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg"
                                  alt="avatar"
                                  width="65"
                                  height="65"
                                />
                              </a>
                              <div class="flex-grow-1 flex-shrink-1">
                                <div>
                                  <div
                                    class="d-flex justify-content-between align-items-center"
                                  >
                                    <p class="mb-1">
                                      John Smith
                                      <span class="small">- 4 hours ago</span>
                                    </p>
                                  </div>
                                  <p class="small mb-0">
                                    the majority have suffered alteration in
                                    some form, by injected humour, or randomised
                                    words.
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="d-flex flex-start mt-4">
                          <img
                            class="rounded-circle shadow-1-strong me-3"
                            src="https://mdbootstrap.com/img/Photos/Avatars/img%20(12).jpg"
                            alt="avatar"
                            width="65"
                            height="65"
                          />
                          <div class="flex-grow-1 flex-shrink-1">
                            <div>
                              <div
                                class="d-flex justify-content-between align-items-center"
                              >
                                <p class="mb-1">
                                  Natalie Smith
                                  <span class="small">- 2 hours ago</span>
                                </p>
                                <a href="#!"
                                  ><i class="fas fa-reply fa-xs"></i
                                  ><span class="small"> reply</span></a
                                >
                              </div>
                              <p class="small mb-0">
                                The standard chunk of Lorem Ipsum used since the
                                1500s is reproduced below for those interested.
                                Sections 1.10.32 and 1.10.33.
                              </p>
                            </div>

                            <div class="d-flex flex-start mt-4">
                              <a class="me-3" href="#">
                                <img
                                  class="rounded-circle shadow-1-strong"
                                  src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
                                  alt="avatar"
                                  width="65"
                                  height="65"
                                />
                              </a>
                              <div class="flex-grow-1 flex-shrink-1">
                                <div>
                                  <div
                                    class="d-flex justify-content-between align-items-center"
                                  >
                                    <p class="mb-1">
                                      Lisa Cudrow
                                      <span class="small">- 4 hours ago</span>
                                    </p>
                                  </div>
                                  <p class="small mb-0">
                                    Cras sit amet nibh libero, in gravida nulla.
                                    Nulla vel metus scelerisque ante
                                    sollicitudin commodo. Cras purus odio,
                                    vestibulum in vulputate at, tempus viverra
                                    turpis.
                                  </p>
                                </div>
                              </div>
                            </div>

                            <div class="d-flex flex-start mt-4">
                              <a class="me-3" href="#">
                                <img
                                  class="rounded-circle shadow-1-strong"
                                  src="https://mdbootstrap.com/img/Photos/Avatars/img%20(29).jpg"
                                  alt="avatar"
                                  width="65"
                                  height="65"
                                />
                              </a>
                              <div class="flex-grow-1 flex-shrink-1">
                                <div>
                                  <div
                                    class="d-flex justify-content-between align-items-center"
                                  >
                                    <p class="mb-1">
                                      Maggie McLoan
                                      <span class="small">- 5 hours ago</span>
                                    </p>
                                  </div>
                                  <p class="small mb-0">
                                    a Latin professor at Hampden-Sydney College
                                    in Virginia, looked up one of the more
                                    obscure Latin words, consectetur
                                  </p>
                                </div>
                              </div>
                            </div>

                            <div class="d-flex flex-start mt-4">
                              <a class="me-3" href="#">
                                <img
                                  class="rounded-circle shadow-1-strong"
                                  src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg"
                                  alt="avatar"
                                  width="65"
                                  height="65"
                                />
                              </a>
                              <div class="flex-grow-1 flex-shrink-1">
                                <div>
                                  <div
                                    class="d-flex justify-content-between align-items-center"
                                  >
                                    <p class="mb-1">
                                      John Smith
                                      <span class="small">- 6 hours ago</span>
                                    </p>
                                  </div>
                                  <p class="small mb-0">
                                    Autem, totam debitis suscipit saepe sapiente
                                    magnam officiis quaerat necessitatibus odio
                                    assumenda, perferendis quae iusto labore
                                    laboriosam minima numquam impedit quam
                                    dolorem!
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div
      class="modal fade"
      id="enroll"
      tabindex="-1"
      aria-labelledby="enrollLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="enrollLabel">Payment</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p class="lead">Fill out this form and we will get back to you</p>
            <form action="/processDonations" method="post">
              <div class="mb-3">
                <label for="first-name" class="col-form-label">
                  Project ID:
                </label>
                <input type="text" class="form-control" value="<%= project._id%>" name="projectDonatedTo" />
              </div>
              <div class="mb-3">
                <label for="first-name" class="col-form-label">
                  Full Name:
                </label>
                <input type="text" class="form-control" id="first-name" name="DonatorFullName" />
              </div>
              <div class="mb-3">
                <label for="email" class="col-form-label">Email:</label>
                <input type="email" class="form-control" id="email" name="DonatorEmail" />
              </div>
              <div class="mb-3">
                <label for="phone" class="col-form-label">Phone:</label>
                <input type="tel" class="form-control" id="phone" name="DonatorPhone" />
              </div>

              <div class="mb-3">
                <label for="phone" class="col-form-label">Payment Method:</label> <br>
                <input type="radio" name="paymentMethod" id="" value="bank"> <label for="">Bank Account</label> <br>
                <input type="radio" name="paymentMethod" id="" value="momo"> <label for="">Mobile Money</label>
              </div>
            
              <div class="mb-3">
                  <label for="phone" class="col-form-label">Amount:</label>
                  <input type="number" class="form-control"  name="DonatorAmount" />
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
<%- include("footer") %>
